[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/PostEatMe_BE/venv/bin/uwsgi -i /home/ubuntu/PostEatMe_BE/.config/uwsgi/uwsgiconfig.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
