[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart = /home/ubuntu/PEM/bin/uwsgi -i /home/ubuntu/PostEatMe_BE/PostEatMe/.config/uwsgi/pem.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
